@import '../../../../mixins.scss';

span{
    background: #fff9c6;
    color: #000;
    padding: 9px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 19px;
    display: inline-block;
}

.trend-block-bottom{
    @include grid-template-columns;
    margin-top: 25px;
    grid-row: 10px;
}
@media screen and (max-width: 1199px) {
    .trend-block-bottom{
        grid-template-columns: repeat(3, 180px);
    }
}
@media screen and (max-width: 767px) {
    .trend-block-bottom{
        grid-template-columns: repeat(2, 180px);
    }
}

@media screen and (max-width: 375px) {
    .trend-block-bottom{
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
    }
}

.trend-center{
    @include flex-center
}

.trend-right-blocks{
    margin-top: -20px;
}
