@import '../../../../mixins.scss';
@import './ClubsListComponents/Clubs.scss';

.clubs-heading{
    @include flex-center;
    margin-left: -750px;

}

.clubs-list{
    height: 410px;
    margin-left: -100px;
    overflow-x: hidden;
    transition: transform 0.5s ease;
    .slick-slider{
        width: 100%;
        .weekly-img{
            width: 350px;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            @media (max-width: 800px) {
                width: 270px;
            }
            @media (max-width: 400px) {
                width: 200px;
                height: 200px;
            }
        }
    }
    @media (max-width: 400px) {
        height: 200px;
    }
}

.club-elem{
    flex: 0 0 auto;
    margin-left: 20px;
    transition: transform 0.5s ease;
    transform: translateX(0);
    @media (max-width: 800px) {
    }
    @media (max-width: 400px) {
    }
}

.club {
    display: inline-block; /* Отображаем элементы в одной линии */
    margin-right: 20px; /* Отступ между элементами */
    transition: transform 0.5s ease; /* Добавляем плавный переход */
}



