@import '../../mixins.scss';


#responsive-navbar-nav{
  .computer{
    
    display: flex;
    #federacija{
      .submenu{
        position: absolute;
        z-index: 2;
        display: none;
        background-color: white;
        padding: 10px;
        // li{
        //   display: flex;
        //   align-items: center;
        // }
      }
      &:hover{
        .submenu{
          display: flex;
          #liDoc{
            .submenu{
              display: none;
            }
            &:hover{
              .submenu{
                display: flex;

              }
            }
          }
          #komis{
            .submenu{
              display: none;
              a{
                color: #002e5b;
              }
            }
            &:hover{
              .submenu{
                display: flex;
              }
            }
          }
        }
        .hidden{
          display: none;
        }
        
      }
    }
}
.mobile{
  display: none;
  // @media screen and () {
    
  // }
}
@media screen and (max-width: 820px) {
  .computer{
    display: none;
  }
  .landscape-menu-icon{
    display: block!important;
  }
  .mobile{
    display: none!important;
  }
}
  @media screen and (max-width: 420px) {
    .computer{
      display: none;
    }

    // .mobile{
    //   display: block;
    // }
  }
}

  .li-header-item{
    margin-left: 20px;
    margin-top: 20px;
    list-style: none;
    cursor: pointer;
    a{
      color: #002e5b!important;
      text-decoration: none!important;
    }
  }

  .mobile-menu .navbar-toggler-icon{
    margin-bottom: 0!important;
    padding: 16px 14px;
  }

  .menu-link{
    color: #002e5b;
    ;
  }

  .responsive-navbar-nav .menu-link .nav-link{
    color: #002e5b!important;
      text-decoration: none!important;
    a{
      color: #002e5b!important;
      text-decoration: none!important;
    }
  }

  a{
    color: #002e5b!important;
    text-decoration: none!important;
  }

  .olymp{
    width: auto;
    background: white!important;
  }
  .eur-wako{
    margin-left: 30px;
    img{
      width: 70px;
      height: 70px;
    }
    @media screen and (max-width: 420px) {
      display: none;
    }
  }

  .eur-wako-mobile{
    display: none;
    img{
      width: 70px;
      height: 70px;
    }
    @media screen and (max-width: 420px) {
      display: block!important;
    }
  }

  // @media (min-width: 420px) and (max-width: 820px) {
  //   .mobile-menu-toggle {
  //     display: block;
  //   }
  // }
  
  @media (min-width: 821px) {
    .mobile-menu-toggle {
      display: none;
    }
  }

  .landscape {
    align-items: flex-start!important;
    position: absolute;
    display: block;
    z-index: 20;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    .submenu {
      display: none; // По умолчанию скрыто
      &.open {
        display: block; // Отображается при добавлении класса open
      }
    }
    margin-left: -10px;
    a{
      // padding: 5px;
      margin: 10px 10px;
    }
  }

  .landscape-menu-wrapper {
    display: none; /* По умолчанию скрыто */
  
    &.open {
      display: block; /* Отображается, когда добавлен класс open */
    }
  }
  
  .landscape-menu-icon {
    display: none;
    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
  .align-items-center{
    align-items: flex-start!important;
  }