#responsive-navbar-nav{
  .computer{
    display: flex;
    #federacija{
      .submenu{
        position: absolute;
        z-index: 2;
        display: none;
        background-color: white;
        padding: 10px;
        // li{
        //   display: flex;
        //   align-items: center;
        // }
      }
      &:hover{
        .submenu{
          display: flex;
          #liDoc{
            .submenu{
              display: none;
            }
            &:hover{
              .submenu{
                display: flex;

              }
            }
          }
          #komis{
            .submenu{
              display: none;
              a{
                color: #002e5b;
              }
            }
            &:hover{
              .submenu{
                display: flex;
              }
            }
          }
        }
      }
    }
}
.mobile{
  display: none;
}
  @media screen and (max-width: 400px) {
    .computer{
      display: none;
    }
    .mobile{
      display: block;
    }
  }
}

  .li-header-item{
    margin-left: 20px;
    margin-top: 20px;
    list-style: none;
    cursor: pointer;
    a{
      color: #002e5b;
      text-decoration: none;
    }
  }

  .mobile-menu .navbar-toggler-icon{
    margin-bottom: 0!important;
    padding: 16px 14px;
  }

  .menu-link{
    color: #002e5b;
    ;
  }