@import "./Components/Header/header.scss";
@import "./Pages/Admin/admin.scss";
@import "./Components/Main/MainComponents/ClubList/ClubsList.scss";
@import "./Components/Main/Main.scss";
@import "./Components/Main/MainComponents/YouTube/YouTube.scss";
// @import "./Components/Footer/Footer.scss";

.notranslate{
    display: none;
}

/* src/Components/Main/Main.css */
.main-container {
    background: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), /* Плавный переход */
        url('./OrhetComponents/Background/Background.jsx'); /* Укажите здесь любое изображение по умолчанию, если необходимо */
    position: relative;
    width: 100%;
    height: auto; /* Или 100vh, если хотите, чтобы занимал всю высоту экрана */
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Чтобы предотвратить прокрутку фона */
    padding: 20px; /* Добавьте отступы по желанию */
    z-index: 0; /* Положительное значение для z-index */
}


.overlay {
    // background-image: url('./OrhetComponents/Background/img/Background1.jpg');
    // overflow: hidden;
    // background-size: cover;
    // background-position: center;
    // width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(226, 224, 224, 0.5); /* Полупрозрачное черное наложение */
    z-index: -9; /* Убедитесь, что наложение выше фона */
}